extends layout

block content
    .w3-card-4
        header.w3-container.w3-teal
            h3.w3-center Student Update

        form.w3.container(action='/students/edit' method='POST')
                label <b>Name</b>
                input.w3-input.w3-border.w3-light-grey(type="text" name="nome" value= student.nome)
                label <b>Number</b>
                input.w3-input.w3-border.w3-light-grey(type="text" name="numero" value=student.numero)
                label <b>Git</b>
                input.w3-input.w3-border.w3-light-grey(type="text" name="git" value=student.git)
                
                table.w3-table-all
                    tr 
                        th <b>TPC</b>
                        th <b>Completed</b>

                    - var i = 1;

                        while i < 9
                            tr
                                td= i
                                td 
                                    input.custom-control-input(type="checkbox", id='tpc' + i, name="tpc" + i checked=(student.tpc[i]))
                                - i++
                
                input.w3-btn.w3-blue-grey(type="submit" value="Submit" style="margin-right:10px; margin-left:120px; margin-top:5px; margin-bottom:5px")
                input.w3-btn.w3-blue-grey(type="reset" value="Clean" style="margin-top:5px; margin-bottom:5px")

        footer.w3-container.w3-teal
            address.w3-center Gerado por dawApp :: 2020-Nov - Cândido Vale PG42816 -
                a(href="/students") [Back] 
